* 
{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body 
{
	font: 13px Helvetica, Arial;
}

button
{
	height: 95%;
	border: none; 
	float: right;
}

#conversation 
{
	background: yellow; 
	position: fixed; 
	right: 0; 
	width: 70%; 
	height: 100%;
}

#leftside 
{
	background: red; 
	position: fixed; 
	padding: 3px; 
	left: 0; 
	width: 30%; 
	height:100%;
	overflow: auto;
}

#menu
{
	background-color: pink;
	height: 40px;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
}

#settings
{
	background: url(settings.png);
	background-size: 100% 100%;
}

#add
{
	background: url(add.png);
	background-size: 100% 100%;
}

#logout
{
	background: url(logout.png);
	background-size: 100% 100%;	
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
	
	height: 95%;
	border: none; 
	float: right;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#name
{
	background-color: white;
}

#friendList li
{
	background-color: magenta;
	text-align: center;
	padding: 5px;
	margin: 3px 0 3px 0;
	height: 50px;
	vertical-align: middle;
	line-height: 40px;
}

#info
{
	width: 100%;
	background-color: blue;
	height: 40px;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
}

form 
{
	background: orange;/* #e6f9ff; */
	padding: 3px; 
	position: fixed; 
	bottom: 0;  
	width: 70%;
	height: 50px;
}

form input 
{
	border: 0;
	padding: 1%; 
	height: 95%;
}

#sendButton 
{
	background: url(SendButton.jpg); 
	background-size: 100% 100%;
}

#messages 
{
	list-style-type: none; 
	margin: 0; 
	padding: 0;
}

#messages li 
{
	padding: 5px 10px; 
}

#messages li:nth-child(odd) 
{
	background: #eee;
}
