 <!DOCTYPE html>
<html>
<head>

<title>	<% if (m.length > 0) { %>
		<%= m %>
	<% }else{ %>
		Login
	<%  }%>
 </title>

	<link rel="stylesheet" type="text/css" href="css/StyleLogin.css">
	<meta name="viewport" content="width=device-width" />


</head>
<body>



	<div id="everything">
		<div id = "error">

			<% if (m.length > 0) { %>
				<%= m %>
				<br>
			<% } %>

		</div>
		<form action = "/login" method = "post" id = "log">
			<div>
			 <label>Username:</label><br>
			 <input type = "text" name = "username"/>
			</div>
			<div>
			 <label>Password:</label><br>
			 <input type = "password" name = "password" id = "pw"/>
			</div>
			<div>
			 <input type = "submit" id="button" value = "Log In" />
			</div>
		</form>

		<a href = "register">Register</a>
	</div>

</body>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/login.js"></script>
</html>
