 <!DOCTYPE html>
<html>
<head>

<title>	<% if (m.length > 0) { %>
		<%= m %>
	<% }else{ %>
		Login
	<%  }%>
 </title>
 <link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
 crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/StyleLogin.css">
	<meta name="viewport" content="width=device-width" />
  <meta charset="UTF-8">


</head>
<body>



	<div id="everything">
		<div id = "error">



		</div>
		<form action = "/login" method = "post" id = "log">
      <div class="form-group" id = "userF">
        <label class="control-label" for="username">Username</label>
        <input type="text" class="form-control" name = "username" id="username" >
      </div>
      <div class="form-group" id = "userP">
        <label class="control-label"  for="password">Password</label>
        <input type="password" class="form-control" name = "password" id="password">
      </div>
      <div class="form-group" id = "subm">
        <input type="submit" class="form-control btn btn-primary" id="submit" value = "LogIn" aria-describedby="helpBlock6">
        <span id="helpBlock6" class="help-block"><% if (m.length > 0) { %>
  				<%= m %>
  			<% } %></span>
      </div>
		</form>

		<a href = "register">Register</a>
	</div>

</body>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="js/login.js"></script>
</html>
