<!DOCTYPE html>
<html>
	<head>
		<title> Register
		</title>
		<link rel="stylesheet" type="text/css" href="css/StyleRegister.css">


	</head>
	<body>
		<div id="everything">
			<form ref='uploadForm'
					id='uploadForm'
					action='/register'
					method='post'
					encType="multipart/form-data">
				<div>
					<label>Username:</label>
					<input type = "text"  id = "username" name = "username"/>
				</div>
				<div>
					<label>Password:</label>
					<input type = "password"  id = "password" name = "password"/>
				</div>
				<div>
					<label>Confirm password:</label>
					<input type = "password"  id = "password2" name = "password2"/>
				</div>

				<div id="img">

				</div>
	

				<div>
					<label>Picture:</label>
					<input type = "file"  id = "image" name = "image"/>
					<p id = "fin"></p>
				</div>
				<input type = "submit" id="button" value = "register" />

			</form>
		</div>
	</body>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="js/register.js"></script>
</html>
