 <!DOCTYPE html>
<html>
	<head>
	<title>	<% if (name.length > 0) { %>
			<%= name %>
		<% } %>'s  home page </title>
	</head>

	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">


	<link rel="stylesheet" type="text/css" href="StyleUser.css">




	<body>
	<div id = "hello">
		<p>
			Welcome ,
			<b id= "user"><% if (name.length > 0) { %><%= name%><% } %></b>!

			<a href='logout' id='logout'>Log Out! </a>

		</p>
	</div>


	<div id = "container">
	  <div class = "col-md-6" >

		<div class="panel panel-primary" id = "Chat">
		  <div class="panel-heading" id = "nume"></div>
		  <div class="panel-body" id = "mesaje">
			<ul class="list-unstyled lm">

			</ul>
		  </div>
		  <div class="panel-footer" id = "input">
			<input type="text" id ="tts" class="form-control"/>
			<button id="send" class="btn btn-info">Send!</button>

		  </div>
		</div>
	  </div>

	  <div class = "col-md-6" >

		<div class="input-group">
		  <input type="text" class="form-control searchf" placeholder="Search for an user...">
		  <span class="input-group-btn">
			<button class="btn btn-secondary searchb" type="button">Go!</button>
		  </span>
		</div>

    <br>
    <div id = "logs">

    </div>

		<br>
	  <div class = "col-md-6" id="yours">

		<h4> Your Friends: </h4>

		<ul class="list-group lp">
		</ul>
	  </div>

	  <div class = "col-md-6" id="requests">
		<h4> Your Requests: </h4>
		<ul class="list-group lr">
		</ul>
	  </div>


	  </div>

	</div>
	</body>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="user.js"></script>

</html>
